<div [class.bgWhite] = 'true'>
  <div [ngStyle] = "{'padding':'30px'}">
      <p [ngStyle] ="{'margin-top':'20px'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt reprehenderit ab consectetur corporis nam qui? Pariatur, fuga animi. 
        Quibusdam adipisci neque ipsam perferendis sunt, distinctio molestiae quisquam. Illum, repudiandae dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quisquam consectetur quod iure pariatur sequi 
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt reprehenderit ab consectetur corporis nam qui? Pariatur, fuga animi. 
        Quibusdam adipisci neque ipsam perferendis sunt, distinctio molestiae quisquam. Illum, repudiandae dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quisquam consectetur quod iure pariatur sequi 
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt reprehenderit ab consectetur corporis nam qui? Pariatur, fuga animi. 
        Quibusdam adipisci neque ipsam perferendis sunt, distinctio molestiae quisquam. Illum, repudiandae dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quisquam consectetur quod iure pariatur sequi 
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt reprehenderit ab consectetur corporis nam qui? Pariatur, fuga animi. 
        Quibusdam adipisci neque ipsam perferendis sunt, distinctio molestiae quisquam. Illum, repudiandae dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quisquam consectetur quod iure pariatur sequi 
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt reprehenderit ab consectetur corporis nam qui? Pariatur, fuga animi. 
        Quibusdam adipisci neque ipsam perferendis sunt, distinctio molestiae quisquam. Illum, repudiandae dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quisquam consectetur quod iure pariatur sequi 
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt reprehenderit ab consectetur corporis nam qui? Pariatur, fuga animi. 
        Quibusdam adipisci neque ipsam perferendis sunt, distinctio molestiae quisquam. Illum, repudiandae dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quisquam consectetur quod iure pariatur sequi 
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt reprehenderit ab consectetur corporis nam qui? Pariatur, fuga animi. 
        Quibusdam adipisci neque ipsam perferendis sunt, distinctio molestiae quisquam. Illum, repudiandae dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quisquam consectetur quod iure pariatur sequi 
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt reprehenderit ab consectetur corporis nam qui? Pariatur, fuga animi. 
        Quibusdam adipisci neque ipsam perferendis sunt, distinctio molestiae quisquam. Illum, repudiandae dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quisquam consectetur quod iure pariatur sequi 
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt reprehenderit ab consectetur corporis nam qui? Pariatur, fuga animi. 
        Quibusdam adipisci neque ipsam perferendis sunt, distinctio molestiae quisquam. Illum, repudiandae dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quisquam consectetur quod iure pariatur sequi 
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt reprehenderit ab consectetur corporis nam qui? Pariatur, fuga animi. 
        Quibusdam adipisci neque ipsam perferendis sunt, distinctio molestiae quisquam. Illum, repudiandae dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quisquam consectetur quod iure pariatur sequi 
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt reprehenderit ab consectetur corporis nam qui? Pariatur, fuga animi. 
        Quibusdam adipisci neque ipsam perferendis sunt, distinctio molestiae quisquam. Illum, repudiandae dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quisquam consectetur quod iure pariatur sequi 
        ea repudiandae impedit enim adipisci nulla quibusdam. Debitis voluptatibus ut repellendus odit! Laboriosam,
        dolore doloremque?
      </p>
  </div>
</div>